body {
    margin: 0px;
    color: #fff;  
    background-color: black;
    font-family: arial; 
}

a{
    text-decoration: none;
    color: #fff;
}

ul li{
    list-style-type: none;
}

.background-slideshow{
    text-align: center;
    background-image: url("/ProjetoTatto/img/fundo.png");
    height: 650px;
    transition: background-image 0.4s ease-in-out;
}

#logo{
    margin-top: 80px;
}


.botao{
    color: #fff;
    background-color: #c971cc;
    font-size: 12px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 20px;
    position: absolute;
    right: 200px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);

}

.botao:hover{
    background-color: #e69ee9;
    color: #cac2c2;
}

.botaowpp { 
    position: fixed;
    z-index: 1;
    background-color: #000000;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
    background: none;
  }

.botaomeio{
    color: #fff;
    background-color: #c971cc;
    font-size: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 1px;
    margin-top: -30px;
    position: absolute;
    right: 434px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);

}

.botaomeio:hover{
    background-color: #e69ee9;
    color: #cac2c2;
}
    
.meio{
    background-color:#c971cc;
    color: #c971cc;
}

.leao{
    margin: 95px;
    padding: 50px;
    border-radius: 20px;
    width: 220px;
}

.texto{
    margin: 145px;
    font-size: 18px;
}

.fundoa{
    background-color: #c971cc;
    color: #c971cc;
    position: absolute;
    margin-top: -80px;
    color: #000000;
    right: 480px;
    height: 2px;
    border-radius: 2px;
    width: 140px;
}

.fundob{
    position: absolute;
    margin-top: -550px;
    right: 900px;
    z-index: -1;
    border-top: 600px solid #c971cc; 
    border-left: 600px solid transparent;
    border-right: 400px solid transparent;
    height: 400px;
    width: 400px;
}

.rodape{
    position: absolute;
    color: #fff;
    margin-top: 4000px;
    width: 100%;
    height: 600px; /* ajuste o valor da altura conforme necessário */
    background-image: url("/ProjetoTatto/img/fundorodape.png " ) ;
    box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.5);
  }
  
  #listarodape{
    position: absolute;
    margin-top: 100px;
    margin-left: 900px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  span{
    font-size: 14px;
  }

  ul li{
    padding: 1px;
  }

  .logorodape{
    position: absolute;
    margin-top: 120px;
    margin-left: 80px;
  }

  .localrodape{
    position: absolute;
    margin-top: 170px;
    margin-left: 900px;
  }

  .telefonerodape{
    position: absolute;
    margin-top: 199px;
    margin-left: 891px;
  }

  .facebookrodape{
    position: absolute;
    margin-top: 443px;
    margin-left: 250px;
  }

  .instagramrodape{
    position: absolute;
    margin-top: 440px;
    margin-left: 130px;
  }

  h4{
    color: #c971cc;
    font-family: arial;
  }

  .artes{
    position: absolute;
    margin-top: 140px;
    margin-left: 533px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .portifolio{
    position: absolute;
    margin-top: 320px;
    margin-left: 90px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

  .portifolio2{
    position: absolute;
    margin-top: 320px;
    margin-left: 518px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

  .portifolio3{
    position: absolute;
    margin-top: 320px;
    margin-left: 945px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

  .portifolio4{
    position: absolute;
    margin-top: 710px;
    margin-left: 90px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

  .portifolio5{
    position: absolute;
    margin-top: 710px;
    margin-left: 518px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

  .portifolio6{
    position: absolute;
    margin-top: 710px;
    margin-left: 945px;
    border: solid 5px;
    border-color: #fff;
    height: 55.1%;
  }

/*RESPONSIVIDADE ATÉ O MINIMO DA TELA @media (min-width: 400px)  and (max-width:800px) { 
    .background-slideshow{
        text-align: center;
        background-image: url("/Vscode/img/fundo.png");
        height: 320px;
        transition: background-image 0.4s ease-in-out;
    }

    .botao{
        color: #fff;
        background-color: #c971cc;
        font-size: 9px;
        padding: 10px 21px;
        border-radius: 5px;
        border: solid 1px;
        border: #ffffff;
        font-family: arial;
        margin: 20px;
        position: absolute;
        right: 120px;
        transition: background .2s;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    }

      .artes{
        position: absolute;
        margin-top: 40px;
        margin-left: 135px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 8px;
      }

      #logo{
        margin-top: 80px;
        width: 200px;
    }

    .meio{
        background-color:#c971cc;
        color:#000000;
        height: 5px;
    }

    .leao{
        margin: 25px;
        padding: 50px;
        border-radius: 20px;
        width: 100px;
        margin-top: 60px;
    }

    .texto{
        margin: 70px;
        font-size: 12px;
    }

    .botaomeio{
        color: #fff;
        background-color: #c971cc;
        font-size: 6px;
        padding: 5px 15px;
        border-radius: 2px;
        border: solid 1px;
        border: #ffffff;
        font-family: arial;
        margin: 1px;
        margin-top: -32px;
        position: absolute;
        right: 160px;
        transition: background .2s;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    }

    .fundoa{
        display: none;
    }

    .fundob{
        right: 100px;
        margin-top: -570px;
        border-top: 665px solid #c971cc;
        color: #000000;
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        height: 10px;
        width: 200px;
    }

    .botaowpp{ 
        position: fixed;
        z-index: 1;
        background-color: #000000;
        right: 30px;
        bottom: 20px;
        width: 30px;
        height: 30px;
        border-style: none;
        background: none;
      }

      .portifolio{
        position: absolute;
        right: 43px;
        margin-top: 120px;
        margin-left: 90px;
        border: solid 5px;
        border-color: #fff;
        height: 47.7%;
      }
    
      .portifolio2{
        position: absolute;
        right: 43px;
        margin-top: 490px;
        margin-left: 90px;
        border: solid 5px;
        border-color: #fff;
        height: 47.7%;
      }
    
      .portifolio3{
        display: none;
      }
    
      .portifolio4{
        display: none;
      }
    
      .portifolio5{
        display: none;
      }
    
      .portifolio6{
        display: none;
      }

      #listarodape{
        right: 20px;
        margin-top: 36px;
      }

      .logorodape{
        margin-top: 20px;
        right: 200px;
      }

      .rodape{
        position: absolute;
        color: #fff;
        margin-top: 1200px;
        width: 100%;
        height: 370px; /* ajuste o valor da altura conforme necessário 
        background-image: url("img/fundorodape.png " ) ;
        box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.5);
      }

      .localrodape{
        right: 135px;
        margin-top: 123px;
      }

      .telefonerodape{
        right: 129px;
        margin-top: 187px;
      }

      .instagramrodape{
        margin-top: 290px;
      }

      .facebookrodape{
        margin-top: 295px;
      }

  }

  @media (min-width: 800px)  and (max-width:1200px) {
    

  }

  @media (min-width: 1200px)  and (max-width:1450px) {
    

  }




