body {
    margin: 0px;
    color: #fff;  
    background-color: black;
    font-family: 'Roboto', sans-serif;
  
}
a{
    text-decoration: none;
    color: #fff;
}

ul li{
    list-style-type: none;
}

hr{
  margin-top: 430px;
  z-index: 1;
  width: 1200px;
  margin-left: 110px;
}

.background-slideshow{
    text-align: center;
    background-image: url("img/fundoprincipal02.png");
    height: 720px;
    transition: background-image 0.4s ease-in-out;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

#logo{
    margin-top: 80px;
}


.botao{
    color: #fff;
    background-color: #c971cc;
    font-size: 12px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    position: absolute;
    right: 200px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
}

.botao:hover{
    background-color: #e69ee9;
    color: #cac2c2;
    transform: scale(1.1); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
}

.botaowpp { 
    position: fixed;
    z-index: 1;
    background-color: #000000;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-style: none;
    background: none;
    cursor: pointer;
  }

  .botaowpp:hover{
    transform: scale(1.3); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

.botaomeio{
    color: #fff;
    background-color: #c971cc;
    font-size: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 1px;
    margin-top: -30px;
    position: absolute;
    right: 440px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
}

.botaomeio:hover{
    background-color: #e69ee9;
    color: #cac2c2;
    transform: scale(1.1); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
}

.botaofinal{
  color: #fff;
  background-color: #c971cc;
  font-size: 14px;
  padding: 14px 25px;
  border-radius: 5px;
  border: solid 1px;
  border: #ffffff;
  font-family: 'Roboto', sans-serif;
  margin: 1px;
  margin-top: 1290px;
  position: absolute;
  right: 635px;
  transition: background .2s;
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
  cursor: pointer;
}

.botaofinal:hover{
  background-color: #e69ee9;
  color: #cac2c2;
  transform: scale(1.1); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
  transition: transform 0.3s ease-in-out;
}

.leao{
    margin: 90px;
    padding: 50px;
    border-radius: 55px;
    width: 390px;
    
}

.texto{
    margin: 145px;
    font-size: 18px;
}

.fundoa{
    background-color: #c971cc;
    color: #c971cc;
    position: absolute;
    margin-top: -80px;
    color: #000000;
    right: 473px;
    height: 2px;
    border-radius: 2px;
    width: 140px;
}

.fundob{
    position: absolute;
    margin-top: -550px;
    right: 1150px;
    z-index: -1;
    border-top: 700px solid #c971cc;
    color: #000000;
    border-left: 200px solid transparent;
    border-right: 400px solid transparent;
}

.rodape{
    position: absolute;
    color: #fff;
    margin-top: 1430px;
    width: 100%;
    height: 480px; /* ajuste o valor da altura conforme necessário */
    background-image: url("img/fundorodape02.png " ) ;
    box-shadow: 0px 0px 10px rgba(118, 118, 118, 0.5);
  }
  
  #listarodape{
    position: absolute;
    margin-top: 100px;
    margin-left: 960px;
    font-family: 'Roboto', sans-serif;
  
  }

  .botaorodape{
    color: #fff;
    background-color: #c971cc;
    font-size: 10px;
    padding: 10px 21px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 300px;
    position: absolute;
    right: 15px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
}

.botaorodape:hover{
  background-color: #e69ee9;
  color: #cac2c2;
  transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
  transition: transform 0.3s ease-in-out;
}

  .infofinal{
    font-size: 12px;
    margin-left: 1120px;
  }

  span{
    font-size: 14px;
  }

  ul li{
    padding: 1px;
  }

  .logorodape{
    position: absolute;
    margin-top: 10px;
    margin-left: 80px;
  }

  .localrodape{
    position: absolute;
    margin-top: 170px;
    margin-left: 965px;
  }

  .telefonerodape{
    position: absolute;
    margin-top: 199px;
    margin-left: 955px;
  }

  .facebookrodape{
    position: absolute;
    margin-top: 325px;
    margin-left: 250px;
    cursor: pointer;
  }

  .facebookrodape:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  .instagramrodape{
    position: absolute;
    margin-top: 320px;
    margin-left: 145px;
    cursor: pointer;
  }

  .instagramrodape:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  h4{
    color: #c971cc;
    font-family: arial;
  }

  .artes{
    position: absolute;
    margin-top: 140px;
    margin-left: 560px;
    font-family: 'Great Vibes';
    font-size: 30px;
  }

  .portifolio{
    position: absolute;
    margin-top: 300px;
    margin-left: 235px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
  }

.portifolio:hover{
  transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
  transition: transform 0.3s ease-in-out;
}

  .portifolio2{
    position: absolute;
    margin-top: 300px;
    margin-left: 600px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
    }

  .portifolio2:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  .portifolio3{
    position: absolute;
    margin-top: 300px;
    margin-left: 965px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
  }

  .portifolio3:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  .portifolio4{
    position: absolute;
    margin-top: 780px;
    margin-left: 235px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
  }

  .portifolio4:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  .portifolio5{
    position: absolute;
    margin-top: 780px;
    margin-left: 600px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
  }

  .portifolio5:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  .portifolio6{
    position: absolute;
    margin-top: 780px;
    margin-left: 965px;
    border: solid 5px;
    border-color: #fff;
    height: 56.3%;
  }

  .portifolio6:hover{
    transform: scale(1.2); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

  @media (min-width: 400px)  and (max-width:600px) {

    .background-slideshow{
        text-align: center;
        background-image: url("img/fundoprincipal.png");
        height: 320px;
        transition: background-image 0.4s ease-in-out;
    }

    .botao{
        color: #fff;
        background-color: #c971cc;
        font-size: 9px;
        padding: 10px 21px;
        border-radius: 5px;
        border: solid 1px;
        border: #ffffff;
        font-family: arial;
        margin: 20px;
        position: absolute;
        right: 146px;
        transition: background .2s;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    }

      .artes{
        position: absolute;
        margin-top: 80px;
        margin-left: 120px;
        font-family: 'Great Vibes';
        font-size: 20px;
      }

      #logo{
        margin-top: 80px;
        width: 200px;
    }

    .meio{
        background-color:#c971cc;
        color:#000000;
        height: 5px;
    }

    .leao{
        margin: 25px;
        padding: 50px;
        border-radius: 20px;
        width: 260px;
        margin-top: 60px;
        margin-left: 55px;
    }

    .texto{
        margin: 70px;
        font-size: 12px;
    }

    .botaomeio{
        color: #fff;
        background-color: #c971cc;
        font-size: 10px;
        padding: 10px 15px;
        border-radius: 2px;
        border: solid 1px;
        border: #ffffff;
        font-family: arial;
        margin: 1px;
        margin-top: -32px;
        position: absolute;
        right: 165px;
        transition: background .2s;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    }

    .fundoa{
        display: none;
    }

    .fundob{
        right: 100px;
        margin-top: -800px;
        border-top: 665px solid #c971cc;
        color: #000000;
        border-left: 400px solid transparent;
        border-right: 400px solid transparent;
        height: 10px;
        width: 200px;
    }

      .portifolio{
        position: absolute;
        right: 82px;
        margin-top: 190px;
        border: solid 5px;
        border-color: #fff;
        height: 66.7%;
      }
    
      .portifolio2{
        position: absolute;
        right: 82px;
        margin-top: 675px;
        border: solid 5px;
        border-color: #fff;
        height: 66.7%;
      }
    
      .portifolio3{
        display: none;
      }
    
      .portifolio4{
        display: none;
      }
    
      .portifolio5{
        display: none;
      }
    
      .portifolio6{
        display: none;
      }
      
      .botaofinal{
        color: #fff;
        background-color: #c971cc;
        font-size: 14px;
        padding: 14px 25px;
        border-radius: 5px;
        border: solid 1px;
        border: #ffffff;
        font-family: 'Roboto', sans-serif;
        margin: 1px;
        margin-top: 1175px;
        position: absolute;
        right: 120px;
        transition: background .2s;
        box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
        cursor: pointer;
      }

      #listarodape{
        right: 175px;
        margin-top: 300px;
      }

      .logorodape{
        margin-top: 20px;
        right: 90px;
      }

      .rodape{
        position: absolute;
        color: #fff;
        margin-top: 1300px;
        width: 100%;
        height: 770px;
        background-image: url("img/fundorodape02.png " ) ;
        box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.5);
      }

      hr{
        margin-top: 730px;
        z-index: 1;
        width: 380px;
        margin-left: 48px;
      }

      .infofinal{
        font-size: 12px;
        margin-left: 140px;
        margin-top: 10px;
      }

      .localrodape{
        right: 295px;
        margin-top: 386px;
      }

      .telefonerodape{
        right: 285px;
        margin-top: 450px;
      }

      .instagramrodape{
        margin-top: 640px;
        right: 285px;
      }

      .facebookrodape{
        margin-top: 644px;
        right: 155px;
      }

      .botaorodape{
        font-size: 10px;
        margin-top: 550px;
        width: 114px;
        left: -135px;
      }

  }

  @media (min-width: 600px)  and (max-width:800px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal.png");
      height: 550px;
      transition: background-image 0.4s ease-in-out;
  }

  .botao{
    color: #fff;
    background-color: #c971cc;
    font-size: 12px;
    padding: 11px 22px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 20px;
    position: absolute;
    right: 175px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

  .artes{
    position: absolute;
    margin-top: 95px;
    margin-left: 170px;
    font-family: 'Great Vibes';
    font-size: 20px;
  }

  #logo{
    margin-top: 100px;
    width: 370px;
}

.meio{
    background-color:#c971cc;
    color:#000000;
    height: 5px;
}

.leao{
    margin: 25px;
    padding: 50px;
    border-radius: 20px;
    width: 350px;
    margin-top: 60px;
    margin-left: 65px;
}

.texto{
    margin: 70px;
    font-size: 12px;
}

.botaomeio{
    color: #fff;
    background-color: #c971cc;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 2px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 1px;
    margin-top: -32px;
    position: absolute;
    right: 225px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

.fundoa{
    display: none;
}

.fundob{
    right: 150px;
    margin-top: -850px;
    border-top: 600px solid #c971cc;
    color: #000000;
    border-left: 400px solid transparent;
    border-right: 500px solid transparent;
    height: 10px;
    width: 200px;
}

  .portifolio{
    position: absolute;
    right: 135px;
    margin-top: 220px;
    border: solid 5px;
    border-color: #fff;
    height: 66.7%;
  }

  .portifolio2{
    position: absolute;
    right: 135px;
    margin-top: 710px;
    border: solid 5px;
    border-color: #fff;
    height: 66.7%;
  }

  .portifolio3{
    display: none;
  }

  .portifolio4{
    display: none;
  }

  .portifolio5{
    display: none;
  }

  .portifolio6{
    display: none;
  }
  
  .botaofinal{
    color: #fff;
    background-color: #c971cc;
    font-size: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 1px;
    margin-top: 1230px;
    position: absolute;
    right: 170px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
  }

  #listarodape{
    right: 55px;
    margin-top: 65px;
  }

  .logorodape{
    margin-top: 20px;
    right: 290px;
  }

  .rodape{
    position: absolute;
    color: #fff;
    margin-top: 1375px;
    width: 100%;
    height: 550px;
    background-image: url("img/fundorodape02.png " ) ;
    box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.5);
  }

  hr{
    margin-top: 500px;
    z-index: 1;
    width: 480px;
    margin-left: 48px;
  }

  .infofinal{
    font-size: 12px;
    margin-left: 190px;
    margin-top: 10px;
  }

  .localrodape{
    right: 170px;
    margin-top: 152px;
  }

  .telefonerodape{
    right: 163px;
    margin-top: 220px;
  }

  .instagramrodape{
    margin-top: 350px;
    right: 465px;
  }

  .facebookrodape{
    margin-top: 353px;
    right: 350px;
  }

  .botaorodape{
    font-size: 10px;
    margin-top: 365px;
    width: 114px;
    left: 100px;
  }

  }

  @media (min-width: 800px)  and (max-width:1000px) {
    
    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal.png");
      height: 620px;
      transition: background-image 0.4s ease-in-out;
  }

  .botao{
    color: #fff;
    background-color: #c971cc;
    font-size: 12px;
    padding: 11px 22px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 20px;
    position: absolute;
    right: 270px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

  .artes{
    position: absolute;
    margin-top: 95px;
    margin-left: 170px;
    font-family: 'Great Vibes';
    font-size: 20px;
  }

  #logo{
    margin-top: 100px;
    width: 450px;
}

.meio{
    background-color:#c971cc;
    color:#000000;
    height: 5px;
}

.leao{
    margin: 25px;
    padding: 50px;
    border-radius: 20px;
    width: 330px;
    margin-top: 60px;
    margin-left: 65px;
}

.texto{
    margin: 70px;
    font-size: 12px;
}

.botaomeio{
    color: #fff;
    background-color: #c971cc;
    font-size: 10px;
    padding: 10px 15px;
    border-radius: 2px;
    border: solid 1px;
    border: #ffffff;
    font-family: arial;
    margin: 1px;
    margin-top: -32px;
    position: absolute;
    right: 225px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
}

.fundoa{
    display: none;
}

.fundob{
    right: 295px;
    margin-top: -520px;
    border-top: 600px solid #c971cc;
    color: #000000;
    border-left: 400px solid transparent;
    border-right: 540px solid transparent;
    height: 10px;
    width: 200px;
}

  .portifolio{
    position: absolute;
    right: 135px;
    margin-top: 220px;
    border: solid 5px;
    border-color: #fff;
    height: 66.7%;
  }

  .portifolio2{
    position: absolute;
    right: 135px;
    margin-top: 710px;
    border: solid 5px;
    border-color: #fff;
    height: 66.7%;
  }

  .portifolio3{
    display: none;
  }

  .portifolio4{
    display: none;
  }

  .portifolio5{
    display: none;
  }

  .portifolio6{
    display: none;
  }
  
  .botaofinal{
    color: #fff;
    background-color: #c971cc;
    font-size: 14px;
    padding: 14px 25px;
    border-radius: 5px;
    border: solid 1px;
    border: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 1px;
    margin-top: 1230px;
    position: absolute;
    right: 170px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
  }

  #listarodape{
    right: 55px;
    margin-top: 65px;
  }

  .logorodape{
    margin-top: 20px;
    right: 290px;
  }

  .rodape{
    position: absolute;
    color: #fff;
    margin-top: 1375px;
    width: 100%;
    height: 550px;
    background-image: url("img/fundorodape02.png " ) ;
    box-shadow: 0px 0px 10px rgba(202, 202, 202, 0.5);
  }

  hr{
    margin-top: 500px;
    z-index: 1;
    width: 480px;
    margin-left: 48px;
  }

  .infofinal{
    font-size: 12px;
    margin-left: 190px;
    margin-top: 10px;
  }

  .localrodape{
    right: 170px;
    margin-top: 152px;
  }

  .telefonerodape{
    right: 163px;
    margin-top: 220px;
  }

  .instagramrodape{
    margin-top: 350px;
    right: 465px;
  }

  .facebookrodape{
    margin-top: 353px;
    right: 350px;
  }

  .botaorodape{
    font-size: 10px;
    margin-top: 365px;
    width: 114px;
    left: 100px;
  }

  }

  @media (min-width: 1000px)  and (max-width:1200px) {

  }

  @media (min-width: 1200px)  and (max-width:1400px) {
    
  }


