body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-image: radial-gradient( #000000, #000000, #2c2c2c);
    color: white;
}

img{
  max-width: 100%;
}

a{
    text-decoration: none;
    color: #fff;
}

ul li{
    list-style-type: none;
    padding: 10px;
}

h4{
  margin: 0px;
  padding: 5px;
}

li img {
  margin-right: 8px; /* Espaçamento opcional entre a imagem e o texto */
}

/*FUNÇÕES GERAIS*/

.background-slideshow{
    text-align: center;
    background-image: url("img/fundoprincipal02.png");
    height: 900px;
    transition: background-image 0.4s ease-in-out;
    width: 100%;
    background-position: center top;
    position: relative;
}

.menu-li{
  font-size: 1.7rem;
  font-family: 'Great Vibes';
  position: absolute;
  display: flex;
  position: fixed;
  z-index: 2;
  gap: 20px;
}

.menu-li a{
  padding: 10px;
  border-radius: 30px;
  transition: color .2s;
  transition: background .2s;
}

.menu-li a:hover{
  transition: transform 0.3s ease-in-out;
  color: #000000;
  transition: color .1s;
  background-color: #deb9df;
  transition: background .2s;
}

.logo{
  justify-content: center;
  margin-top: 140px;
}

.agendetop{
    color: #fff;
    background-color: #c971cc;
    place-self: center;
    font-size: 12px;
    margin-top: 20px;
    right: 200px;
    padding: 14px 25px;
    border-radius: 5px;
    border: none;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
}

.agendetop:hover{
    background-color: #e69ee9;
    color: #797777;
    transform: scale(1.1); /* Aumenta o tamanho do elemento quando o mouse passar por cima*/
    transition: transform 0.3s ease-in-out;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #e69ee9;
  }
  50% {
    box-shadow: 0 0 20px #e69ee9;
  }
  100% {
    box-shadow: 0 0 5px #e69ee9;
  }
}

.agendetop {
  animation: glowing 1.5s infinite;
}

.apresentacao{
  font-size: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: auto, auto, 1fr;
  justify-content: center;
  margin-top: 8.6rem;
  gap: 1.2rem;
  position: relative;
}

.fotoapresentacao{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(65, 65, 65, 0.5);
  margin-top: 55px;
  grid-row: 1/3;
  max-width: 100%;
  height: auto;
}

.texto{
  grid-column: 2;
  padding: 40px;
  position: relative;
}

.textocelular{
  display: none;
}

.agendeinicio{
  text-align: center;
  place-self: center;
  padding: 13px;
  font-size: 0.9rem;
  border-radius: 5px;
  margin-top: 40px;
  transition: background .2s;
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
  cursor: pointer;
  color: #fff;
  background-color: #c971cc;
  position: relative;
}

.agendeinicio:hover{
  background-color: #e69ee9;
  color: #4d4c4c;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.agendeinicio::before{
  content: "";
  width: 3.7rem;
  height: 0.2rem;
  position: absolute;
  background-color: #e69ee9;
  top: -35px;
  right: 65px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #e69ee9;
  }
  50% {
    box-shadow: 0 0 20px #e69ee9;
  }
  100% {
    box-shadow: 0 0 5px #e69ee9;
  }
}

.agendeinicio{
  animation: glowing 1.5s infinite;
}

.anime{
  opacity: 0;
  transform: translate3d(0px, -50px, 0px);
}

.anime-init{
  opacity: 1;
  transition: .4s all ease;
  transform: translate3d(0px, 50px, 0px);

}

.botaowpp { 
    position: fixed;
    z-index: 1;
    background-color: #000000;
    right: 20px;
    bottom: 2.5px;
    border-style: none;
    background: none;
    cursor: pointer;
  }

  .botaowpp:hover{
    transform: scale(1.3); /* Aumenta o tamanho do elemento quando o mouse passar por cima */
    transition: transform 0.3s ease-in-out;
  }

.textoportfolio{
  text-align: center;
  grid-column: 1/-1;
  margin: 50px;
  font-family: 'Great Vibes';
  font-size: 2.5rem;
  color: #b0afaf;
  font-style: italic;
}

.portfolio{
    display: grid;
    grid-template-columns: 325px 325px 325px;
    gap: 25px;
    justify-content: center;
    margin-top: 150px;
    color: white;
  }

#img0{
  border: solid 5px white;
  display: grid;
}

#img0:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

#img01{
  border: solid 5px white;
  display: grid;
}

#img01:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#img02{
  border: solid 5px white;
  display: grid;
}

#img02:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

#img03{
  border: solid 5px white;
  display: grid;
}

#img03:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

#img04{
  border: solid 5px white;
  display: grid;
}

#img04:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

#img05{
  border: solid 5px white;
  display: grid;
}

#img05:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

.agende{
  text-align: center;
  padding: 10px;
  margin-top: 50px;
  border-radius: 5px;
  grid-column: 2;
  transition: background .2s;
  box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
  cursor: pointer;
  color: #fff;
  background-color: #c971cc;
}

.agende:hover{
  background-color: #e69ee9;
  color: #4d4c4c;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.rodape{
  color: #fff;
  margin-top: 230px;
  width: 100%;
  height: 500px;
  background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
}

.gridrodape{
  display: grid;
  grid-template-columns: 400px 550px 250px;
  gap: 20px;
  justify-content: center;
}

.listamenu{
 grid-column: 3;
 margin: 60px;
 place-self: start;
}

.listamenu a:hover{
  transition: transform 0.3s ease-in-out;
  color: #c971cc;
  transition: color .1s;
}

.listacontato{
 grid-column: 2;
 margin: 60px;
 place-self: start;
}

.logoeredes{
 grid-column: 1;
 grid-row: 1/-1;
 position: relative;
}

.iconerodape{
  margin-right: 8px;
}

.facebook{
  position: absolute;
  right: 110px;
  margin-top: 385px;
}

.facebook:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}

.instagram{
  position: absolute;
  right: 235px;
  margin-top: 385px;
}

.instagram:hover{
  transform: scale(1.1); 
  transition: transform 0.3s ease-in-out;
}




@media (min-width: 300px)  and (max-width:400px) {

  .background-slideshow{
    text-align: center;
    background-image: url("img/fundoprincipal02.png");
    background: no-repeat;
    height: 450px;
    transition: background-image 0.4s ease-in-out;
    width: 100%;
    background-position: center top;
}

 .logo{
  justify-content: center;
  margin-top: 100px;
  width: 275px;
 }

 .menu-li{
  font-size: 1rem;
  font-family: 'Great Vibes';
  position: fixed;
  z-index: 2;
  gap: 0.5px;
}

.menu-li a{
  padding: 1px;
  border-radius: 5px;
  transition: color .2s;
  transition: background .2s;
}

 .agendetop{
  display: none;
 }

  .apresentacao{
    margin-top: 50px;
    font-size: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    position: relative;
  }

  .fotoapresentacao{
    grid-column: 1;
    }

  .texto{
    grid-column: 2;
    padding: 20px;
    position: relative;
    display: none;
  }

  .textocelular{
    display: block;
  }

  .agendeinicio{
    margin: 45px;
    margin-top:75px;
    text-align: center;
    place-self: center;
    grid-column: 1;
    padding: 13px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
    color: #fff;
    background-color: #c971cc;
    position: relative;
  }
  
  .agendeinicio:hover{
    background-color: #e69ee9;
    color: #4d4c4c;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .agendeinicio::before{
    content: "";
    width: 3.7rem;
    height: 0.2rem;
    position: absolute;
    background-color: #e69ee9;
    top: -30px;
    right: 65px;
  }

  .portfolio{
    margin-top: -60px;
    display: grid;
    grid-template-columns: 300px;
    transform: scale(0.9);
  }

  .textoportfolio{
    margin: 0px;
    padding-bottom: 40px;
    font-family: 'Great Vibes';
    font-size: 2rem;
    color: #ffffff;
    font-style: italic;
  }

  .agende{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
    grid-column: 1;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
    color: #fff;
    background-color: #c971cc;
  }
  .rodape{
    color: #fff;
    margin-top: 0px;
    width: 100%;
    height: 960px;
    background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
  }

  .gridrodape{
    display: grid;
    grid-template-columns: 290px;
    gap: 10px;
  }

  .listamenu{
    grid-column: 1;
    place-self: center;
    grid-row: 2;
    margin-top: -10px;
   }
   
   .listacontato{
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    text-align: center;
   }
   
   .logoeredes{
    place-self: center;
    grid-column: 1;
    position: relative;
    right: -10px;
    grid-row: 3;
    margin-top: -70px;
   }

   .facebook{
    position: absolute;
    right: 50px;
  }
  
  .instagram{
    position: absolute;
    right: 190px;
  }
}

@media (min-width: 401px)  and (max-width:460px) {

  .background-slideshow{
    text-align: center;
    background-image: url("img/fundoprincipal02.png");
    background: no-repeat;
    height: 550px;
    transition: background-image 0.4s ease-in-out;
    width: 100%;
    background-position: center top;
}

 .logo{
  justify-content: center;
  margin-top: 100px;
  width: 320px;
 }

 .menu-li{
  font-size: 1rem;
  font-family: 'Great Vibes';
  position: fixed;
  z-index: 2;
}

.menu-li a{
  padding: 4px;
  border-radius: 30px;
  transition: color .2s;
  transition: background .2s;
}

 .agendetop{
  display: none;
 }

  .apresentacao{
    margin-top: 150px;
    font-size: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    position: relative;
  }

  .fotoapresentacao{
    grid-column: 1;
    }

  .texto{
    grid-column: 2;
    padding: 20px;
    position: relative;
    display: none;
  }

  .textocelular{
    display: block;
  }

  .agendeinicio{
    margin: 45px;
    margin-top:75px;
    text-align: center;
    place-self: center;
    grid-column: 1;
    padding: 13px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
    color: #fff;
    background-color: #c971cc;
    position: relative;
  }
  
  .agendeinicio:hover{
    background-color: #e69ee9;
    color: #4d4c4c;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .agendeinicio::before{
    content: "";
    width: 3.7rem;
    height: 0.2rem;
    position: absolute;
    background-color: #e69ee9;
    top: -30px;
    right: 65px;
  }

  .portfolio{
    margin-top: -60px;
    display: grid;
    grid-template-columns: 300px;
    transform: scale(0.9);
  }

  .textoportfolio{
    margin: 0px;
    padding-bottom: 40px;
    font-family: 'Great Vibes';
    font-size: 2rem;
    color: #ffffff;
    font-style: italic;
  }

  .agende{
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    border-radius: 5px;
    grid-column: 1;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
    color: #fff;
    background-color: #c971cc;
  }
  .rodape{
    color: #fff;
    margin-top: 0px;
    width: 100%;
    height: 900px;
    background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
  }

  .gridrodape{
    display: grid;
    grid-template-columns: 500px;
    gap: 10px;
  }

  .listamenu{
    grid-column: 1;
    place-self: center;
    grid-row: 2;
    margin-top: -10px;
   }
   
   .listacontato{
    grid-column: 1;
    grid-row: 1;
    place-self: center;
    text-align: center;
   }
   
   .logoeredes{
    place-self: center;
    grid-column: 1;
    position: relative;
    right: -10px;
    grid-row: 3;
    margin-top: -70px;
   }

}

@media (min-width: 461px)  and (max-width:500px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal02.png");
      background: no-repeat;
      height: 550px;
      transition: background-image 0.4s ease-in-out;
      width: 100%;
      background-position: center top;
  }

   .logo{
    justify-content: center;
    margin-top: 100px;
    width: 320px;
   }

   .menu-li{
    font-size: 1.2rem;
    font-family: 'Great Vibes';
    position: fixed;
    z-index: 2;
    gap: 10px;
  }

  .menu-li a{
    padding: 10px;
    border-radius: 30px;
    transition: color .2s;
    transition: background .2s;
  }

   .agendetop{
    display: none;
   }

    .apresentacao{
      margin-top: 150px;
      font-size: 1rem;
      color: white;
      display: grid;
      grid-template-columns: 300px;
      justify-content: center;
      position: relative;
    }

    .fotoapresentacao{
      grid-column: 1;
      }

    .texto{
      grid-column: 2;
      padding: 20px;
      position: relative;
      display: none;
    }

    .textocelular{
      display: block;
    }

    .agendeinicio{
      margin: 45px;
      margin-top:75px;
      text-align: center;
      place-self: center;
      grid-column: 1;
      padding: 13px;
      font-size: 0.9rem;
      border-radius: 5px;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
      position: relative;
    }
    
    .agendeinicio:hover{
      background-color: #e69ee9;
      color: #4d4c4c;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .agendeinicio::before{
      content: "";
      width: 3.7rem;
      height: 0.2rem;
      position: absolute;
      background-color: #e69ee9;
      top: -30px;
      right: 65px;
    }

    .portfolio{
      margin-top: -60px;
      display: grid;
      grid-template-columns: 300px;
      transform: scale(0.9);
    }

    .textoportfolio{
      margin: 0px;
      padding-bottom: 40px;
      font-family: 'Great Vibes';
      font-size: 2rem;
      color: #ffffff;
      font-style: italic;
    }
  
    .agende{
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      grid-column: 1;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
    }

    .rodape{
      color: #fff;
      margin-top: 0px;
      width: 100%;
      height: 900px;
      background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
    }

    .gridrodape{
      display: grid;
      grid-template-columns: 500px;
      gap: 10px;
    }
  
    .listamenu{
      grid-column: 1;
      place-self: center;
      grid-row: 2;
      margin-top: -10px;
     }
     
     .listacontato{
      grid-column: 1;
      grid-row: 1;
      place-self: center;
      text-align: center;
     }
     
     .logoeredes{
      place-self: center;
      grid-column: 1;
      position: relative;
      right: -10px;
      grid-row: 3;
      margin-top: -70px;
     }

}

@media (min-width: 501px)  and (max-width:900px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal02.png");
      background: no-repeat;
      height: 500px;
      transition: background-image 0.4s ease-in-out;
      width: 100%;
      background-position: center top;
  }

  .logo{
    justify-content: center;
    margin-top: 65px;
    width: 370px;
   }

   .menu-li{
    font-size: 1.3rem;
    font-family: 'Great Vibes';
    position: fixed;
    z-index: 2;
    gap: 10px;
  }

   .agendetop{
     display: none;
  }

    .apresentacao{
      margin-top: 50px;
      font-size: 1rem;
      color: white;
      display: grid;
      grid-template-columns: 300px;
      justify-content: center;
    }

    .fotoapresentacao{
      grid-column: 1;
      }

    .texto{
      grid-column: 2;
      padding: 20px;
      position: relative;
      display: none;
    }

    .textocelular{
      display: block;
    }

    .agendeinicio{
      margin: 45px;
      margin-top: 75px;
      text-align: center;
      place-self: center;
      grid-column: 1;
      padding: 13px;
      font-size: 0.9rem;
      border-radius: 5px;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
      position: relative;
    }
    
    .agendeinicio:hover{
      background-color: #e69ee9;
      color: #4d4c4c;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .agendeinicio::before{
      content: "";
      width: 3.7rem;
      height: 0.2rem;
      position: absolute;
      background-color: #e69ee9;
      top: -30px;
      right: 65px;
    }

    .portfolio{
      margin-top: -60px;
      display: grid;
      grid-template-columns: 300px;
      transform: scale(0.9);
    }

    .textoportfolio{
      margin: 0px;
      padding-bottom: 40px;
      font-family: 'Great Vibes';
      font-size: 2rem;
      color: #ffffff;
      font-style: italic;
    }
  
    .agende{
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      grid-column: 1;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
    }

    .rodape{
      color: #fff;
      margin-top: 0px;
      width: 100%;
      height: 950px;
      background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
    }

    .gridrodape{
      display: grid;
      grid-template-columns: 500px;
      gap: 10px;
    }
  
    .listamenu{
      grid-column: 1;
      place-self: center;
      grid-row: 2;
      margin-top: -10px;
     }
     
     .listacontato{
      grid-column: 1;
      grid-row: 1;
      place-self: center;
      text-align: center;
     }
     
     .logoeredes{
      place-self: center;
      grid-column: 1;
      position: relative;
      right: -10px;
      grid-row: 3;
      margin-top: -70px;
     }

}

@media (min-width: 900px)  and (max-width:1100px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal02.png");
      background: no-repeat;
      height: 720px;
      transition: background-image 0.4s ease-in-out;
      width: 100%;
      background-position: center top;
  }

  .agendetop{
    display: none;
  }

    .apresentacao{
      margin-top: 110px;
      font-size: 1rem;
      color: white;
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: center;
    }

    .fotoapresentacao{
      grid-column: 1;
      }

    .texto{
      grid-column: 2;
      padding: 20px;
      position: relative;
      display: none;
    }

    .textocelular{
      display: block;
    }

    .agendeinicio{
      margin: 55px;
      text-align: center;
      place-self: center;
      grid-column: 2;
      padding: 13px;
      font-size: 0.9rem;
      border-radius: 5px;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
      position: relative;
    }
    
    .agendeinicio:hover{
      background-color: #e69ee9;
      color: #4d4c4c;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .agendeinicio::before{
      content: "";
      width: 3.7rem;
      height: 0.2rem;
      position: absolute;
      background-color: #e69ee9;
      top: -23px;
      right: 65px;
    }

    .portfolio{
      margin-top: 0px;
      display: grid;
      gap: 30px;
      grid-template-columns: 300px 300px;
      transform: scale(0.9);
    }

    .textoportfolio{
      margin: 0px;
      padding-bottom: 40px;
      font-family: 'Great Vibes';
      font-size: 2rem;
      color: #ffffff;
      font-style: italic;
    }
  
    .agende{
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      grid-column: 1;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
    }

    .rodape{
      color: #fff;
      margin-top: 0px;
      width: 100%;
      height: 950px;
      background-color: rgba(28, 26, 26, 0.5); /* Cor de fundo com opacidade baixa */
    }

      .gridrodape{
      display: grid;
      grid-template-columns: 600px;
      gap: 10px;
    }
  
    .listamenu{
      grid-column: 1;
      place-self: center;
      grid-row: 2;
      margin-top: -10px;
     }
     
     .listacontato{
      grid-column: 1;
      grid-row: 1;
      place-self: center;
      text-align: center;
     }
     
     .logoeredes{
      place-self: center;
      grid-column: 1;
      position: relative;
      right: -10px;
      grid-row: 3;
      margin-top: -70px;
     }

}

@media (min-width: 1100px)  and (max-width:1250px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal02.png");
      background: no-repeat;
      height: 720px;
      transition: background-image 0.4s ease-in-out;
      width: 100%;
      background-position: center top;
  }

    .apresentacao{
      margin-top: 110px;
      font-size: 1rem;
      gap: 50px;
      color: white;
      display: grid;
      grid-template-columns: 300px 300px;
      justify-content: center;
    }

    .fotoapresentacao{
      grid-column: 1;
      }

    .texto{
      grid-column: 2;
      padding: 20px;
      position: relative;
      display: none;
    }

    .textocelular{
      display: block;
    }

    .agendeinicio{
      margin: 45px;
      text-align: center;
      place-self: center;
      grid-column: 2;
      padding: 13px;
      font-size: 0.9rem;
      border-radius: 5px;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
      position: relative;
    }
    
    .agendeinicio:hover{
      background-color: #e69ee9;
      color: #4d4c4c;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out;
    }
    
    .agendeinicio::before{
      content: "";
      width: 3.7rem;
      height: 0.2rem;
      position: absolute;
      background-color: #e69ee9;
      top: -35px;
      right: 65px;
    }

    .portfolio{
      margin-top: 0px;
      display: grid;
      gap: 30px;
      grid-template-columns: 300px 300px 300px;
      transform: scale(0.9);
    }

    .textoportfolio{
      margin: 0px;
      padding-bottom: 40px;
      font-family: 'Great Vibes';
      font-size: 2rem;
      color: #ffffff;
      font-style: italic;
    }
  
    .agende{
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      grid-column: 2;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
    }


    .gridrodape{
      display: grid;
      grid-template-columns: 400px 550px 250px;
      gap: 5px;
      justify-content: center;
    }
    
    .listamenu{
     grid-column: 3;
     margin: 60px;
     place-self: start;
    }
    
    .listacontato{
     grid-column: 2;
     margin: 60px;
     place-self: start;
    }
    
    .logoeredes{
     grid-column: 1;
     grid-row: 1/-1;
     position: relative;
     left: 40px;
    }
    
    .iconerodape{
      margin-right: 8px;
    }
    
    .facebook{
      position: absolute;
      right: 110px;
      margin-top: 385px;
    }
    
    .instagram{
      position: absolute;
      right: 235px;
      margin-top: 385px;
    }
    
}

@media (min-width: 1250px)  and (max-width:1400px) {

    .background-slideshow{
      text-align: center;
      background-image: url("img/fundoprincipal02.png");
      background: no-repeat;
      height: 720px;
      transition: background-image 0.4s ease-in-out;
      width: 100%;
      background-position: center top;
  }

  .apresentacao{
    font-size: 1rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: auto, auto, 1fr;
    justify-content: center;
    margin-top: 5.6rem;
    gap: 1.2rem;
  }
  
  .fotoapresentacao{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(65, 65, 65, 0.5);
    margin-top: 55px;
    grid-row: 1/3;
    max-width: 100%;
    height: auto;
  }
  
  .texto{
    grid-column: 2;
    padding: 40px;
    position: relative;
  }
  
  .textocelular{
    display: none;
  }
  
  .agendeinicio{
    text-align: center;
    place-self: center;
    padding: 13px;
    font-size: 0.9rem;
    border-radius: 5px;
    transition: background .2s;
    box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
    cursor: pointer;
    color: #fff;
    background-color: #c971cc;
    position: relative;
  }
  
  .agendeinicio:hover{
    background-color: #e69ee9;
    color: #4d4c4c;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .agendeinicio::before{
    content: "";
    width: 3.7rem;
    height: 0.2rem;
    position: absolute;
    background-color: #e69ee9;
    top: -35px;
    right: 65px;
  }

    .portfolio{
      margin-top:70px;
      display: grid;
      gap: 30px;
      grid-template-columns: 300px 300px 300px;
      transform: scale(0.9);
    }

    .textoportfolio{
      margin: 0px;
      padding-bottom: 40px;
      font-family: 'Great Vibes';
      font-size: 2rem;
      color: #ffffff;
      font-style: italic;
    }
  
    .agende{
      text-align: center;
      padding: 10px;
      margin-top: 50px;
      border-radius: 5px;
      grid-column: 2;
      transition: background .2s;
      box-shadow: 0px 0px 10px rgba(190, 190, 190, 0.5);
      cursor: pointer;
      color: #fff;
      background-color: #c971cc;
    }
}


